*{
	font-family: 'Roboto', sans-serif;
}
body{
	margin: 0;
}
.wrapper{
	margin: auto;
	width: 80%;
}

 .logo, .menu {
    display: inline-block; 
}
.logo{
	margin-right: 63%;
	position: relative;
	padding: 40px 0;
	padding-left: 44px;
	font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
}
.header{
	display: flex;
	justify-content: space-between;
}
.menu{
	display: flex; 
	align-items: center;
}
.menu__item {
	padding: 0 13px;
}
.menu__item:last-child { 
	padding-right: 0;
}